.time-seeker,
.volume-seeker {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to left, #d946ef, #8b5cf6);
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.time-seeker:hover {
    opacity: 1;
}

.time-seeker::-webkit-slider-thumb,
.volume-seeker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid white;
    background: #8b5cf6;
    cursor: pointer;
}

.volume-seeker {
    width: 300%;
    right: -26px;
    bottom: 52px;
}